@use '../../../01.settings/fonts' as fonts;

.content-area {    
	line-height: 1.8rem;

	.entry {
		margin-top: 3rem;

		&:first-child {
			margin-top: 0;
		}

		&__header {
			margin-left: auto;
			margin-right: auto;
			max-width: 640px;	
		}

		&__title {
			color: #000000;
			margin: 0;

			a {
				color: #000000;
				text-decoration: none;
			}
		}

		&__metadata {
			color: #959595;
			font-family: fonts.font-family( 'date' );
			font-size: 1.625rem;
		}

		&__thumbnail {
			display: block;
			margin: 0.5rem auto 0 auto;
			max-width: 1170px;
			overflow: hidden;
			border-radius: 0.75rem;

			&-image {
				display: block;
				width: 100%;
				height: auto;
				transition: transform 0.4s ease;

				&:hover {
					transform: scale( 1.025 );
				}
			}
		}

		&__content {
			margin: 1rem auto;
			max-width: 640px;
		}	

		&__more-link {
			font-size: 14px;
			font-style: italic;
		}

		&__footer {
			font-size: 14px;
			font-style: italic;	
			text-align: center;
		}

		&__terms {
			font-weight: bold;

			a {
				font-weight: normal;
			}
		}
	}
}

.archive {
	.content-area {
		font-size: 14px;

		.grid-col-3 {
			margin-top: 0;

			.post {
				background: #ffffff;
				box-shadow: 0 0.375rem 0.375rem hsl( 0deg 0% 0% / 0.3 );
				padding: 1.125rem;

				&:first-child {
					margin-top: 0;
				}

				.post-thumbnail {
					margin-top: 0;
				}

				.entry-header {
					.entry-title {
						line-height: 2.6rem;
						margin: 0;
						padding: 0;

						a {
							color: #000000;
							text-decoration: none;
						}
					}

					.entry-metadata {
						font-family: font-family( date );
						font-size: 1.8rem;
					}
				}
			}
		}
	}
}


img {
	height: auto;
	max-width: 100%;
}